<!--Include This page on Index Page-->
<!--EDITORIAL TEAM SECTION BEGINS-->
<section class="editorial-team">  
    <div class="team-members">
        <h2 class="section-title">Editorial Team</h2>
        <p><strong>Editor</strong></p>
        <p>Pradeep Dhungana</p>
        <p><strong>Sub-Editor</strong></p>
        <p>Gopal Neupane</p>
        <p><strong>Marketing Director</strong></p>
        <p>Punam Panta</p>
        <p><strong>Production</strong></p>
        <p>Sujan Thapa</p>
        <p><strong>Legal Advisor</strong></p>
        <p>Dr. Kim Backhouse</p>
        <p><strong>Concept/Design</strong></p>
        <p>Tej Gurung</p>
    </div>
    <div class="supporters">
        <h2 class="section-title">Supporters</h3>
        <p>Curry Home (Launoesbon)</p>
        <p>Mira Gurung (NSW)</p>
        <p>Sunil Parajuli (Brisbane)</p>
        <p>Mandy Subedi Khatiwada (Gold Coast)</p>
        <p>Manish Panday (SA)</p>
        <p>Sabina Neupane (NT)</p>
        <p>Adarsha Jung Panday (ACT)</p>
        <p>Dr. Chandra D. Pokharel (Victoria)</p>
    </div>
    
</section>
    <!--EDITORIAL TEAM SECTION ENDS-->